<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <title>Document</title>

    <link rel="stylesheet" href="order-complete.css" />
    <!-- <script src="order-complete.js" type="module" defer></script> -->
  </head>
  <body>
    <!-- navigation -->

    <section class="section">
      <!-- 주문완료창 헤더-->
      <div class="container">
        <div class="cart-header">
          <div class="title flex w-64 h-10">
            <p class="text-xl">장바구니 ></p>
            <p class="text-base">주문결제 ></p>
            <p class="text-xl">주문완료</p>
          </div>
        </div>
        <div class="border-line-container">
          <div class="border-line"></div>
        </div>
        <div class="border-line-container2">
          <div class="border-line2"></div>
        </div>
      </div>
      <!-- 주문완료창 메인-->
      <div class="main-container flex">
        주문완료 로고 주문이완료되었습니다 주문 내역 보러가기 다른 상품 보러가기
      </div>
    </section>

    <!-- footer -->
  </body>
</html>
