<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/dist/output.css" rel="stylesheet" />

    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16X16" href="../dist/logo-2.png" />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="order-complete.css" />
    <!-- <script src="order-complete.js" type="module" defer></script> -->
  </head>

  <body style="margin: 0 auto; padding: 0px; width: 1200px">
    <header class="mx-auto px-0 box-border flex flex-col p-10">
      <nav
        class="flex flex-row justify-end"
        id="navbar"
        role="navigation"
        aria-label="main navigation"
      >
        <ul id="user-menu-navbar" class="flex justify-end">
          <li id="admin-menu" class="text-gray-500 text-lg font-bold mr-8">
            <a href="#">관리자 페이지로</a>
          </li>
          <li id="signin-menu" class="text-gray-500 text-lg font-bold mr-8">
            <a href="/login">로그인</a>
          </li>
          <li id="signup-menu" class="text-gray-500 text-lg font-bold mr-8">
            <a href="/register">회원가입</a>
          </li>
          <li id="cart-menu" class="text-gray-500 text-lg font-bold">
            <a href="#cart" aria-current="page">
              <span>장바구니</span>
              <span>
                <i class="fas fa-cart-shopping"></i>
              </span>
            </a>
          </li>
        </ul>
      </nav>
      <div id="navbar-logo" class="mt-5 flex justify-center items-center">
        <a class="navbar-item" href="/">
          <img src="../dist/logo-1.png" width="150" height="150" />
        </a>
      </div>
    </header>

    <div class="section">
      <div class="process-container">
        <div class="process-bar flex mb-8 p-5">
          <div class="title flex">
            <p class="text-base mt-1">장바구니 ></p>
            <p class="text-base ml-1 mt-1">주문결제 ></p>
            <p class="text-xl ml-1">주문완료</p>
          </div>
        </div>
      </div>

      <div class="card-container">
        <div class="card">
          <div class="card-body">
            <div class="card-title card-common">
              <h5>주문 완료</h5>
            </div>
            <div class="card-subtitle mb-2 card-common">
              <i class="fa-solid fa-circle-check fa-5x"></i>
            </div>
            <div class="card-text other__link">주문이 완료되었습니다!</div>
            <div class="to-oredered-list">
              <a href="#" class="card-link">주문 내역 보러가기</a>
            </div>
            <div class="other-link">
              <a href="#" class="card-link">다른 상품 보러가기</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="bg-gray-500 text-white py-4 mt-10">
      <div class="max-w-6xl mx-auto flex justify-center items-center">
        <p class="text-gray-400 text-sm">© 2023 그린메이트</p>
        <span class="text-gray-400 text-sm mx-2">|</span>
        <p class="text-gray-400 text-sm">FE : 김희삼 신하영 진호병</p>
        <span class="text-gray-400 text-sm mx-2">|</span>
        <p class="text-gray-400 text-sm">BE : 김마리나 류경서 류한나</p>
        <span class="text-gray-400 text-sm mx-2">|</span>
        <p class="text-gray-400 text-sm">저작권 : 푸르디마켓</p>
      </div>
    </footer>
  </body>
</html>
