<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Green Mate🪴</title>
    <!-- import tailwind css -->
    <link href="/dist/output.css" rel="stylesheet" />
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16X16" href="../dist/logo-2.png" />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <hr class="mt-10 border-t border-gray-500 w-1200 opacity-25" />
    <div class="flex h-screen text-black">
      <!-- sidebar -->
      <div id="mypage-sidebar"></div>
      <!-- main content -->
      <div class="flex-1 flex flex-col">
        <div class="flex justify-center overflow-y-auto p-5">
          <div
            id="category-manage-content"
            style="display: block"
            class="m-auto mt-10"
          >
            <div class="flex justify-start overflow-y-auto">
              <span class="font-bold text-3xl mb-12">주문상세</span>
            </div>
            <div class="container" style="width: 800px" id="category-list-div">
              <div class="overflow-y-auto" id="order-card-component"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 주문 수정 모달 -->
    <div
      class="modal fade"
      id="order-edit-modal"
      tabindex="-1"
      aria-labelledby="order-edit-modal-label"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="order-edit-modal-label">
              주문 수정
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="" method="" class="order-edit-modal-shipping-address">
              <div class="mb-3">
                <label for="" class="form-label">요청사항</label>
                <input
                  type="text"
                  class="form-control"
                  id="order-edit-modal-input-shipping-request-message"
                  placeholder=""
                />
              </div>
              <div class="mb-3">
                <label for="" class="form-label">받는사람 이름</label>
                <input
                  type="text"
                  class="form-control"
                  id="order-edit-modal-input-recipient-name"
                  placeholder=""
                />
              </div>
              <div class="mb-3">
                <label for="" class="form-label">연락처</label>
                <input
                  type="text"
                  maxlength="11"
                  class="form-control"
                  id="order-edit-modal-input-recipient-phone-number"
                  placeholder=""
                />
              </div>
              <div class="mb-3">
                <label for="" class="form-label">우편주소</label>
                <div class="post-code-zone">
                  <input
                    type="text"
                    class="form-control"
                    id="order-edit-modal-input-shipping-post-code"
                    placeholder=""
                    readonly
                  />
                  <button
                    type="button"
                    class="address-search btn btn-secondary"
                  >
                    주소검색
                  </button>
                  <!-- <input
                    type="button"
                    class="address-search"
                    value="주소검색"
                  /> -->
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">도로명 주소</label>
                <input
                  type="text"
                  class="form-control"
                  id="order-edit-modal-input-shipping-street-address"
                  placeholder=""
                  readonly
                />
              </div>
              <div class="mb-3">
                <label for="" class="form-label">상세 주소</label>
                <input
                  type="text"
                  class="form-control"
                  id="order-edit-modal-input-shipping-extra-address"
                  placeholder=""
                />
              </div>
              <!-- <input type="button" class="address-search" value="주소검색" /> -->
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              닫기
            </button>
            <button type="button" class="btn btn-primary order-edit-submit-btn">
              확인
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- 커스텀 css, js -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="../common/header-footer.js" type="module" defer></script>
    <script src="../common/mypage-sidebar.js" type="module" defer></script>
    <script src="mypage-shipping.js" type="module" defer></script>
  </body>
</html>
