<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Green Mate🪴</title>
    <!-- import tailwind css -->
    <link href="/dist/output.css" rel="stylesheet" />
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16X16" href="../dist/logo-2.png" />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <hr class="mt-10 border-t border-gray-500 w-1200 opacity-25" />
    <div class="flex h-screen text-black">
      <!-- sidebar -->
      <div id="mypage-sidebar"></div>
      <!-- main content -->
      <div class="flex-1 flex flex-col">
        <div class="flex justify-center overflow-y-auto p-5">
          <div
            id="category-manage-content"
            style="display: block"
            class="m-auto mt-10"
          >
            <div class="flex justify-start overflow-y-auto">
              <span class="font-bold text-3xl mb-12">주문상세</span>
            </div>
            <div class="container" style="width: 800px" id="category-list-div">
              <div class="overflow-y-auto" id="order-card-component"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 커스텀 css, js -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="../common/header-footer.js" type="module" defer></script>
    <script src="../common/mypage-sidebar.js" type="module" defer></script>
    <script src="mypage-shipping.js" type="module" defer></script>
  </body>
</html>
