<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Green Mate🪴</title>
    <!-- import tailwind css -->
    <link href="/dist/output.css" rel="stylesheet" />
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16X16" href="../dist/logo-2.png" />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <script src="../common/header-footer.js" type="module" defer></script>
    <script src="../common/category.js" type="module" defer></script>
    <script src="../common/mypage-sidebar.js" type="module" defer></script>
    <script src="mypage-shipping.js" type="module" defer></script>
  </head>

  <body>
    <div id="category-list-section" class="mb-10">
      <hr class="my-4 border-t border-gray-500 w-1200 opacity-25" />
      <nav id="category-wrap" class="w-1200 h-auto flex-wrap">
        <ul id="category-menu-navbar" class="flex flex-row justify-around">
          <li
            id="whole-product-category"
            class="text-lg font-bold hover:text-[#69b766] text-[#69b766]"
          >
            <a href="/" class="cursor-pointer" aria-current="page">전체상품</a>
          </li>
        </ul>
      </nav>
      <hr class="my-4 border-t border-gray-500 w-1200 opacity-25" />
    </div>

    <div class="flex h-screen text-black">
      <!-- sidebar -->
      <div id="mypage-sidebar"></div>
      <!-- main content -->
      <div class="flex-1 flex flex-col">
        <div class="flex justify-center overflow-y-auto p-5">
          <div
            id="category-manage-content"
            style="display: block"
            class="m-auto mt-10"
          >
            <div class="flex justify-start overflow-y-auto">
              <span class="font-bold text-3xl mb-12">주문상세</span>
            </div>
            <div class="container" style="width: 800px" id="category-list-div">
              <div class="overflow-y-auto" id="order-card-component">
                <!-- 주문 카드 컴포넌트  -->
                <!-- 주문 카드 컴포넌트  -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
