<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Green Mate🪴</title>
    <!-- import tailwind css -->
    <link href="/dist/output.css" rel="stylesheet" />
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16X16" href="../dist/logo-2.png" />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <script src="../common/header-footer.js" type="module" defer></script>
    <script src="../common/category.js" type="module" defer></script>

    <script src="./register.js" type="module" defer></script>
  </head>

  <body>
    <div id="category-list-section" class="mb-20"></div>

    <!-- 회원가입 폼(Form) -->
    <div id="register-user-form-container" class="m-auto" style="width: 630px">
      <form
        class="flex flex-col justify-items-center justify-center"
        id="register-user-form"
      >
        <p class="text-3xl text-[#69b766] font-bold mb-10 text-center">
          회원가입
        </p>
        <div class="mb-4">
          <label
            class="text-lg block text-gray-700 font-bold mb-2"
            for="full-name-input"
            >이름</label
          >
          <div id="control">
            <input
              style="height: 50px"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-[#69b766] focus:border-2 mb-2"
              id="full-name-input"
              type="text"
              placeholder="홍길동"
              autocomplete="on"
            />
          </div>
        </div>

        <!-- 이메일 인풋창 -->
        <div class="mb-4">
          <label
            class="text-lg block text-gray-700 font-bold mb-2"
            for="email-input"
            >이메일</label
          >
          <div id="control">
            <input
              style="height: 50px"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-[#69b766] focus:border-2 mb-2"
              id="email-input"
              type="email"
              placeholder="abc@example.com"
              autocomplete="on"
            />
          </div>
        </div>

        <!-- 비밀번호 인풋창 -->
        <div class="mb-4">
          <label
            class="text-lg block text-gray-700 font-bold mb-2"
            for="password-input"
            >비밀번호</label
          >
          <div id="control">
            <input
              style="height: 50px"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-[#69b766] focus:border-2 mb-2"
              id="password-input"
              type="password"
              placeholder="********"
              autocomplete="off"
            />
          </div>
        </div>

        <!-- 비밀번호 확인 인풋창 -->
        <div class="field mb-5">
          <label
            class="text-lg block text-gray-700 font-bold mb-2"
            for="password-confirm-input"
            >비밀번호 확인</label
          >
          <div id="control">
            <input
              style="height: 50px"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-[#69b766] focus:border-2 mb-5"
              id="password-confirm-input"
              type="password"
              placeholder="********"
              autocomplete="off"
            />
          </div>
        </div>

        <button
          style="height: 52px"
          class="shadow bg-[#69b766] hover:bg-green-700 text-white text-lg font-bold py-2 px-4 rounded focus:outline-none focus:border-[#69b766] focus:border-2 mb-28"
          id="submit-button"
          type="button"
        >
          회원가입하기
        </button>
      </form>
    </div>
  </body>
</html>
