<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Product Panel</title>
    <!-- import tailwind css -->
    <link href="/dist/output.css" rel="stylesheet" />
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16X16" href="../dist/logo-2.png" />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <script src="admin-product.js" type="module" defer></script>
    <script src="../../services/admin-sidebar.js" type="module" defer></script>
  </head>

  <body class="bg-gray-100">
    <!-- wrapper -->
    <div class="flex h-screen bg-gray-100">
      <!-- sidebar -->
      <div class="flex flex-col flex-shrink-0 w-64 bg-green-600 text-white">
        <div
          class="flex items-center justify-center h-16 border-b border-gray-700 bg-white"
        >
          <span class="text-xl font-medium text-black">Green-mate</span>
        </div>
        <div class="flex flex-col p-4">
          <a
            href="/admin-order"
            id="order-manage-link"
            class="my-2 px-2 py-1 flex items-center rounded-lg text-white hover:bg-lime-500"
          >
            <span class="mx-3">주문 관리</span>
          </a>
          <a
            href="/admin-category"
            id="category-manage-link"
            class="my-2 px-2 py-1 flex items-center rounded-lg text-white hover:bg-lime-500"
          >
            <span class="mx-3">카테고리 관리</span>
          </a>
          <a
            href="/admin-product"
            id="product-manage-link"
            class="my-2 px-2 py-1 flex items-center rounded-lg text-white hover:bg-lime-500"
          >
            <span class="mx-3">제품 관리</span>
          </a>
        </div>
      </div>

      <!-- main content -->
      <div class="flex-1 flex flex-col">
        <!-- header -->
        <div
          class="flex items-center justify-between bg-white px-6 py-4 border-b"
        >
          <div class="flex items-center">
            <h1 class="text-2xl font-medium">제품 관리 페이지</h1>
          </div>
        </div>
        <!-- 회원 현황 -->
        <div class="flex justify-center overflow-y-auto p-5">
          <div id="product-manage-content">
            <div
              class="bg-gray-100 py-4"
              id="product-list-div"
              style="display: block"
            >
              <!-- main -->
              <div class="flex justify-center overflow-y-auto p-20">
                <span class="font-bold text-3xl">제품 리스트</span>
              </div>
              <div class="flex font-bold text-gray-600 ml-2">
                <div class="w-1/4">제품 이름</div>
                <div class="w-1/4">카테고리</div>
                <div class="w-1/4">가격</div>
                <div class="w-1/4">재고</div>
                <div class="w-20"></div>
              </div>
              <div class="container mx-auto">
                <div
                  class="bg-gray-200 py-2 flex items-center gap-x-12 px-4 my-2 rounded-md border-b-2 border-gray-300"
                >
                  <div class="w-1/4">필로델드론 버럴막스</div>
                  <div class="w-1/4">공기정화식물</div>
                  <div class="w-1/4">13,500</div>
                  <div class="w-1/4">
                    <select class="w-full py-1 px-2 rounded-lg font-bold">
                      <option value="ready" selected>판매중</option>
                      <option value="shipping">매진</option>
                    </select>
                  </div>
                  <button
                    class="w-20 border border-slate-500 bg-white py-1 px-2 rounded-lg"
                  >
                    취소
                  </button>
                </div>
                <div
                  class="bg-gray-200 py-2 flex items-center gap-x-12 px-4 my-2 rounded-md border-b-2 border-gray-300"
                >
                  <div class="w-1/4">필로델드론 버럴막스</div>
                  <div class="w-1/4">공기정화식물</div>
                  <div class="w-1/4">13,500</div>
                  <div class="w-1/4">
                    <select class="w-full py-1 px-2 rounded-lg font-bold">
                      <option value="ready" selected>판매중</option>
                      <option value="shipping">매진</option>
                    </select>
                  </div>
                  <button
                    class="w-20 border border-slate-500 bg-white py-1 px-2 rounded-lg"
                  >
                    취소
                  </button>
                </div>
                <div
                  class="bg-gray-200 py-2 flex items-center gap-x-12 px-4 my-2 rounded-md border-b-2 border-gray-300"
                >
                  <div class="w-1/4">필로델드론 버럴막스</div>
                  <div class="w-1/4">공기정화식물</div>
                  <div class="w-1/4">13,500</div>
                  <div class="w-1/4">
                    <select class="w-full py-1 px-2 rounded-lg font-bold">
                      <option value="ready" selected>판매중</option>
                      <option value="shipping">매진</option>
                    </select>
                  </div>
                  <button
                    class="w-20 border border-slate-500 bg-white py-1 px-2 rounded-lg"
                  >
                    취소
                  </button>
                </div>
              </div>
            </div>

            <!-- 제품추가html : 버튼 클릭시 나타나도록 -->
            <div class="pt-20">
              <form
                class="flex flex-col justify-items-center justify-center w-96"
                id="register-product-form"
                style="display: none"
              >
                <!-- 제품이름 입력 -->
                <div class="mb-4">
                  <label
                    class="text-lg block text-gray-700 font-bold mb-2"
                    for="product-name-input"
                    >제품이름</label
                  >

                  <input
                    style="height: 50px"
                    class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none mb-2"
                    id="product-name-input"
                    type="text"
                    placeholder="ex.해바라기 .."
                    autocomplete="on"
                  />
                </div>

                <!-- 카테고리 입력 -->
                <div class="mb-4">
                  <label
                    class="text-lg block text-gray-700 font-bold mb-2"
                    for="category-input"
                    >카테고리</label
                  >

                  <input
                    style="height: 50px"
                    class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none mb-2"
                    id="category-input"
                    type="text"
                    autocomplete="on"
                  />
                </div>

                <!-- 가격 입력 -->
                <div class="mb-4">
                  <label
                    class="text-lg block text-gray-700 font-bold mb-2"
                    for="price-input"
                    >가격</label
                  >

                  <input
                    style="height: 50px"
                    class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none mb-2"
                    id="price-input"
                    type="text"
                    autocomplete="off"
                  />
                </div>

                <!-- 재고 입력 -->
                <div class="mb-5">
                  <label
                    class="text-lg block text-gray-700 font-bold mb-2"
                    for="inventory-confirm-input"
                    >재고</label
                  >

                  <input
                    style="height: 50px"
                    class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none mb-5"
                    id="inventory-confirm-input"
                    type="text"
                    autocomplete="off"
                  />
                </div>
                <!-- 썸네일 사진 -->
                <label
                  class="text-lg block text-gray-700 font-bold mb-2"
                  for="thumbnail-input"
                  >썸네일</label
                >

                <div class="flex flex-col justify-center items-center mb-8">
                  <input
                    style="display: none"
                    class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none mb-5"
                    id="thumbnail-input"
                    type="file"
                  />

                  <img
                    src="../dist/uploadimg.png"
                    id="upload"
                    class="rounded-xl shadow focus:outline-none"
                    style="width: 300px; height: 300px"
                  />
                </div>

                <button
                  style="height: 52px; width: 200px"
                  class="shadow bg-green-500 hover:bg-green-700 text-white text-lg font-bold py-2rounded focus:outline-none mb-10 mx-auto"
                  id="submit-button "
                  type="button"
                >
                  등록하기
                </button>
              </form>
            </div>

            <!-- 추가 하는 버튼  -->
            <div class="flex justify-center font-bold text-gray-600">
              <button
                style="display: block"
                id="addBtn"
                class="w-15 border border-slate-500 bg-white py-1 px-2 rounded-lg"
              >
                추가
              </button>
              <button
                style="display: none"
                id="cancleBtn"
                class="w-15 border border-slate-500 bg-white py-1 px-2 rounded-lg"
              >
                취소
              </button>
            </div>
            <!-- 추가 하는 버튼  -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
