<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/dist/output.css" rel="stylesheet" />

    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16X16" href="../dist/logo-2.png" />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <script src="order.js" type="module" defer></script>
  </head>
  <body style="margin: 0 auto; padding: 0px; width: 1200px">
    <header class="mx-auto px-0 box-border flex flex-col p-10">
      <nav
        class="flex flex-row justify-end"
        id="navbar"
        role="navigation"
        aria-label="main navigation"
      >
        <ul id="user-menu-navbar" class="flex justify-end">
          <li id="admin-menu" class="text-gray-500 text-lg font-bold mr-8">
            <a href="#">관리자 페이지로</a>
          </li>
          <li id="signin-menu" class="text-gray-500 text-lg font-bold mr-8">
            <a href="/login">로그인</a>
          </li>
          <li id="signup-menu" class="text-gray-500 text-lg font-bold mr-8">
            <a href="/register">회원가입</a>
          </li>
          <li id="cart-menu" class="text-gray-500 text-lg font-bold">
            <a href="#cart" aria-current="page">
              <span>장바구니</span>
              <span>
                <i class="fas fa-cart-shopping"></i>
              </span>
            </a>
          </li>
        </ul>
      </nav>
      <div id="navbar-logo" class="mt-5 flex justify-center items-center">
        <a class="navbar-item" href="/">
          <img src="../dist/logo-1.png" width="150" height="150" />
        </a>
      </div>
    </header>

    <div class="process-section">
      <div class="process-text flex -mt-14">
        <p class="text-base text-stone-500 ml-2 mt-2">장바구니 ></p>
        <p class="text-xl font-medium ml-1 mt-1">주문결제</p>
        <p class="text-base text-stone-500 ml-1 mt-2">> 주문완료</p>
      </div>
      <hr class="mt-5 border-t border-gray-500 w-1200 opacity-25" />
    </div>

    <div class="text-base font-semibold mt-8">주문 상품 정보</div>
    <hr class="mt-4 border-t border-gray-500 w-1200 opacity-25" />
    <div class="subtitle-container flex mt-3 font-semibold text-sm text-center">
      <p class="w-8/12">상품정보</p>
      <p class="w-1/12">수량</p>
      <p class="w-1/12">단가</p>
      <p class="w-2/12">총 금액</p>
    </div>
    <hr class="mt-3 border-t-2 border-black w-1200 opacity-50" />
  </body>

  <footer style="width: 1200px" class="bg-gray-500 text-white py-4 mt-10">
    <div class="max-w-6xl mx-auto flex justify-center items-center">
      <p class="text-gray-400 text-sm">© 2023 그린메이트</p>
      <span class="text-gray-400 text-sm mx-2">|</span>
      <p class="text-gray-400 text-sm">FE : 김희삼 신하영 진호병</p>
      <span class="text-gray-400 text-sm mx-2">|</span>
      <p class="text-gray-400 text-sm">BE : 김마리나 류경서 류한나</p>
      <span class="text-gray-400 text-sm mx-2">|</span>
      <p class="text-gray-400 text-sm">저작권 : 푸르디마켓</p>
    </div>
  </footer>
</html>
