<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Green Mate🪴</title>
    <!-- import tailwind css -->
    <link href="/dist/output.css" rel="stylesheet" />
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16X16" href="../dist/logo-2.png" />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <script src="../common/header-footer.js" type="module" defer></script>
    <script src="../common/category.js" type="module" defer></script>

    <script src="home.js" type="module" defer></script>
  </head>

  <body>
    <div id="category-list-section" class="mb-10">
      <hr class="my-4 border-t border-gray-500 w-1200 opacity-25" />
      <nav id="category-wrap" class="w-1200 h-auto flex-wrap">
        <ul id="category-menu-navbar" class="flex flex-row justify-around">
          <li
            id="whole-product-category"
            class="text-lg font-bold hover:text-[#69b766] text-[#69b766]"
          >
            <a href="/" class="cursor-pointer" aria-current="page">전체상품</a>
          </li>
        </ul>
      </nav>
      <hr class="my-4 border-t border-gray-500 w-1200 opacity-25" />
    </div>

    <div
      id="current-category"
      class="w-1200 flex flex-row justify-start items-end mb-10"
    >
      <span class="text-green-800 font-bold text-4xl mr-3">전체상품</span>
      <span class="text-gray-500">총&nbsp;</span>
      <span id="product-counter" class="font-bold">50</span>
      <span class="text-gray-500">개의 상품이 있습니다.</span>
    </div>

    <section
      id="item-cards-list"
      class="grid grid-cols-3 justify-items-center items-center mb-50"
      style="width: 1200px"
    ></section>
  </body>
</html>
