<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Green Mate🪴</title>
    <!-- import tailwind css -->
    <link href="/dist/output.css" rel="stylesheet" />
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16X16" href="../dist/logo-2.png" />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <script src="../common/header-footer.js" type="module" defer></script>
    <script src="../common/category.js" type="module" defer></script>

    <script src="login.js" type="module" defer></script>
  </head>

  <body>
    <div id="category-list-section" class="mb-10">
      <hr class="my-4 border-t border-gray-500 w-1200 opacity-25" />
      <nav id="category-wrap" class="w-1200 h-auto flex-wrap">
        <ul id="category-menu-navbar" class="flex flex-row justify-around"></ul>
      </nav>
      <hr class="my-4 border-t border-gray-500 w-1200 opacity-25" />
    </div>
    <!-- 로그인 폼(Form) -->
    <div id="login-form-container" class="m-auto" style="width: 630px">
      <form
        class="flex flex-col justify-items-center justify-center"
        id="login-form"
      >
        <p class="text-3xl text-[#69b766] font-bold mb-10 text-center">
          로그인
        </p>
        <div class="mb-4">
          <label
            class="text-lg block text-gray-700 font-bold mb-2"
            for="email-input"
          >
            이메일
          </label>
          <input
            style="height: 50px"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-[#69b766] focus:border-2 mb-2"
            id="email-input"
            type="email"
            placeholder="abc@example.com"
            autocomplete="on"
          />
        </div>
        <div class="mb-6">
          <label
            class="text-lg block text-gray-700 font-bold mb-2"
            for="password-input"
          >
            비밀번호
          </label>
          <input
            style="height: 50px"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-[#69b766] focus:border-2 mb-5"
            id="password-input"
            type="password"
            placeholder="********"
            autocomplete="on"
          />
        </div>
        <div id="invalid-msg"></div>
        <button
          style="height: 52px"
          class="shadow bg-[#69b766] hover:bg-green-700 text-white text-lg font-bold py-2 px-4 rounded focus:outline-none mb-28"
          id="submit-button"
          type="button"
        >
          로그인하기
        </button>
      </form>
    </div>
  </body>
</html>
